<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.paperboy.daemon.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>6</integer>
    </dict>

    <key>StandardErrorPath</key>
    <string>/Users/bert/paperboy/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/bert/paperboy/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/bert/paperboy</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>fetch_paper.sh</string>
    </array>

  </dict>
</plist>
